.OrderModal {
  .map {
    width  : 100%;
    height : 300px;
  }
  .product-name-image {
    display        : flex;
    flex-direction : row;
    align-items    : center;
    img {
      margin-right: 15px;
    }
  }
  .client-info-cont {
    padding-top: 20px;
  }

  .invoice {
    display : none;
  }
  .invoiceDelivery {
    display : none;
  }

  .invoiveContainer {
    width          : 79%;
    background     : #FFF;
    color          : black;
    h1 {
      font-size   : 16px;
    }
    p {
      font-size   : 14px;
      margin     : 0;
    }
    .qr {
      display         : flex;
      justify-content : center;
    }
    .invoiceDetails {
      padding : 10px 0;
    }
    .logo {
      height          : 100px;
      width           : 80px;
      background-size : cover;
      margin          : 0 auto;
    }
    .invoiceTitle {
      background : rgba(0, 0, 0, 0.214);
      h2 {
        font-size   : 15px;
      }
    }
    .centerText {
      text-align: center;
    }
    .endText {
      text-align: end;
    }
    .invoiceItem {
      display: flex;
      flex-direction: row;
      border-bottom   : 1px solid #EEE;
      div {
        flex-direction: row;
        width: 0;
      }
    }
  }
}
