.Menus .add-icon {
  height: 185px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Menus .add-icon > i.icon {
  font-size: 60px;
  height: auto;
}
.Menus .ui.card:first-child {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.Menus .ui.card > .image {
  height: 185px;
}
.Menus .grid-scroll {
  height: calc(100vh - 47px);
  overflow-y: scroll;
}
.Menus .inner-scroll {
  overflow-y: scroll;
  height: 100%;
}
