.Products .add-icon {
  height: 185px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Products .add-icon > i.icon {
  font-size: 60px;
  height: auto;
}
.Products .react-fuzzy-filter__input {
  height: 35px;
  box-sizing: border-box;
  border: 1px solid #C2C2C2;
  box-shadow: 1px 1px 4px #EBEBEB;
  border-radius: 3px;
  padding: 7px;
  outline: none;
}
.Products .search-content {
  display: inline-flex;
}
.Products .ui.card:first-child {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.Products .ui.card > .image {
  height: 185px;
}
.Products .products-container {
  overflow-y: scroll;
  height: 100%;
}
.Products .column-scroll {
  height: calc(100vh - 150px);
  border-right: 1px solid;
}
.Products .product-item {
  padding: 10px 20px !important;
  box-Shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}
